<mat-list role="list" (click)="sidenavClose()">
    <a *ngIf="isAuth" mat-list-item routerLink="training">명상</a>
    <a *ngIf="!isAuth" mat-list-item routerLink="signup">회원가입</a>
    <a *ngIf="!isAuth" mat-list-item routerLink="login">로그인</a>
    <mat-list-item *ngIf="isAuth" (click)="logout()">
        <button mat-raised-button>로그아웃</button>
    </mat-list-item>
    <mat-slide-toggle 
        [checked]="isDarkTheme | async" 
        (change)="toggleDarkTheme($event.checked)">
    </mat-slide-toggle>
</mat-list>
