<mat-toolbar color="primary" fxLayoutGap="20px">
    <div fxHide.gt-xs>
        <!-- <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button> -->
    </div>
    <div>
        <a routerLink="/">홈</a>
    </div>
    <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="10px">
        <!-- <a *ngIf="isAuth" routerLink="training">명상</a> -->
        <!-- <a *ngIf="!isAuth" routerLink="signup">회원가입</a>
        <a *ngIf="!isAuth" routerLink="login">로그인</a>
        <a *ngIf="isAuth" (click)="logout()">로그아웃</a> -->
        <mat-slide-toggle 
          [checked]="isDarkTheme | async" 
          (change)="toggleDarkTheme($event.checked)">
        </mat-slide-toggle>
    </div>
</mat-toolbar>
