<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <ul>
        <li><a routerLink="training">명상</a></li>
        <li><a routerLink="signup">회원가입</a></li>
        <li><a routerLink="login">로그인</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayoutGap="20px">
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <a routerLink="/">홈</a>
        </div>
        <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="10px" fxHide.xs>
            <a routerLink="training">명상</a>
            <a routerLink="signup">회원가입</a>
            <a routerLink="login">로그인</a>
        </div>
    </mat-toolbar>
    <main>
        <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
