<p>training works!</p>

<mat-video 
    [autoplay]="true" 
    [preload]="true" 
    [fullscreen]="true" 
    [download]="false" 
    color="accent" 
    spinner="spin" 
    poster="image.jpg" 
    [loop]="true">
    <source matVideoSource [src]="currentVideo" type="video/mp4">
    <source src="tutorial.webm" type="video/webm">
    <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
    <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">
</mat-video>

<audio controls autoplay #audio>
    <source [src]="currentAudio" type="audio/mpeg">
</audio>

<button (click)="rain(audio)">rain</button>
<button (click)="beach(audio)">beach</button>
