mat-button-toggle-group {
    margin: 5px;
}

.toggle-btn-container {
  display: flex;
  mat-button-toggle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  
    img{
      width: 60px;
      height: 60px;
    }

  }
}

.myVideo {
    min-width: 100%;
    min-height: 100%;
}

.toggle-btn-container {
  display: flex;
  flex-direction: column;
}